#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.app {
  display: flex;
  justify-content: space-between;
  width: 900px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.order-details, .menu {
  padding: 20px;
  margin: 20px;
  width: 50%;
  box-sizing: border-box;
  border: 1px solid black;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order-details h2, .menu h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
  width: 100%;
}

.order-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.order-details li:hover {
  background-color: #f1f1f1;
}

.order-details button {
  display: inline-block;
  width: 45px;
  height: 35px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  background-image: url("./assets/cart.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.order-details button:hover {
  background-color: #ff1a1a;
}

.menu button {
  display: block;
  width: 45%;
  height: 70px;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ff1a1a;
  background-color: transparent;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.menu button:hover {
  transform: translateY(-2px);
}

.menu button:active {
  transform: translateY(0);
}

.total-price {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  text-align: right;
  color: #333;
}
